@import 'src/assets/themes/options';

#login-container {

	.auth-form {
	
		:nth-child(2).form-row {
			margin-top: 30px;
		}
	
		.form-row {
			display: flex;
			position: relative;
	
			input {
				width: 100%;
				margin: 15px 0;
			}
	
			button[type='submit'] {
				background: $darkorange;
			}
		}
	}
}