<div class="search">
	<input
		type="text"
		name="query"
		placeholder="Search"
		[(ngModel)]="query"
	>
	<i class="fa fa-search fa-2x"></i>
	<label class="placeholder">Search</label>
</div>
<form
	#formRef
	class="create-form"
	(submit)="addContact()"
	[formGroup]="createForm"
>
	<div class="form-row">
		<div class="row-column">
			<input
				type="text"
				placeholder="Name"
				formControlName="name"
			>
			<i class="fa fa-user fa-2x"></i>
			<label class="placeholder">Name</label>
		</div>
		<div class="row-column">
			<input
				type="text"
				placeholder="Number"
				formControlName="number"
			>
			<i class="fa fa-phone fa-2x"></i>
			<label class="placeholder">Number</label>
		</div>
	</div>
	<div class="button-group">
		<button type="submit">
			<i class="fa fa-plus"></i>
			<span>Add</span>
		</button>
		<button type="reset">
			<i class="fa fa-paint-brush"></i>
			<span>Clear</span>
		</button>
	</div>
</form>
<div class="table">
	<div
		class="table-row"
		*ngFor="let contact of contacts | search: query"
	>
		<div class="row-column">{{ contact.name }}</div>
		<div class="row-column">{{ contact.number }}</div>
		<div class="button-group">
			<button
				type="button"
				class="edit-button"
				[routerLink]="[contact.id]"
			>
				<i class="fa fa-pencil-square-o"></i>
				<span>Edit</span>
			</button>
			<button
				type="button"
				class="remove-button"
				(click)="removeContact(contact.id)"
			>
				<i class="fa fa-times"></i>
				<span>Remove</span>
			</button>
		</div>
	</div>
</div>