@import 'src/assets/themes/options';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .row-column {
    display: flex;
    width: 25%;
    font-size: 16px;
  }

  .button-group {
    display: flex;
    width: 45%;

    .edit-button {
      width: 40%;
      background: $darkorange;
    }

    .remove-button {
      width: 60%;
      background: $darkred;
    }
  }
}
