@import 'src/assets/themes/options';

#dashboard-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;

  .table-row-column {
    display: flex;
    width: 30%;
    font-size: 16px;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    width: 40%;

    .edit-button {
      background: $darkorange;
    }

    .remove-button {
      background: $darkred;
    }
  }
}
