@import './options';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: $gainsboro;
  font-family: 'Roboto';
  user-select: none;
}
