$slowly: 1000ms;
$fast: 200ms;

$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 18px 0 rgba(0, 0, 0, 0.12);

$black: #1f1f1f;
$gainsboro: #dcdcdc;
$silver: #c0c0c0;
$darkslategray: #2f4f4f;
$darkgreen: #006400;
$darkred: #8b0000;
$darkorange: #ff8c00;
