@import 'src/assets/themes/options';

#dashboard-create {
  form {
    margin-top: 30px;

    .form-row {
      display: flex;
      justify-content: space-between;

      .form-row-column {
        display: flex;
        position: relative;
        width: 45%;

        input {
          width: 100%;
          margin: 15px 0;
        }
      }
    }

    .button-group {
      display: flex;

      button {
        &[type='submit'] {
          background: $darkgreen;
        }

        &[type='button'] {
          background: $darkred;
        }
      }
    }
  }
}
