@import 'src/assets/themes/options';

@mixin appearance($offset) {
	&-enter {
		opacity: 0;
		transform: translateX($offset);
	}

	&-enter-active {
		opacity: 1;
		transform: translateX(0);
		transition: all $fast ease;
	}

	&-exit {
		opacity: 1;
	}

	&-exit-active {
		opacity: 0;
		transform: translateX($offset);
		transition: all $fast ease;
	}
}

.list {
	@include appearance(-50px);
}

.notification {
	@include appearance(50px);
}